# Node
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/

# Python
venv/
**/venv/

__pycache__/
**/__pycache__/

# Environment
.env

# Database
uploads/
chroma_db/
**/uploads/
**/chroma_db/

# Logs
*.log